<button ceui-full-button color="primary" ceuiTooltip content="测试内容" direction="bottom">bottom</button>
<button ceui-full-button color="primary" ceuiTooltip content="测试内容" direction="top">top</button>
<button ceui-full-button color="primary" ceuiTooltip content="测试内容" direction="left">left</button>
<button ceui-full-button color="primary" ceuiTooltip content="测试内容" direction="right">right</button>
<button ceui-full-button color="primary" ceuiTooltip content="测试内容" direction="topRight">topRight</button>
<button ceui-full-button color="primary" ceuiTooltip content="测试内容" direction="topLeft">topLeft</button>
<button ceui-full-button color="primary" ceuiTooltip content="测试内容" direction="bottomLeft">bottomLeft</button>
<button ceui-full-button color="primary" ceuiTooltip content="测试内容" direction="bottomRight">bottomRight</button>
<button ceui-full-button color="primary" ceuiTooltip content="测试内容" [tooltipDisabled]="true" disabled>disabled</button>
<div class="row" style="width: 200px;">
  <input width="200px" ceui-input ceui-input-sm ceuiTooltip content="必填项" direction="right" [tooltipDisabled]="inputCtrl.valid" [formControl]="inputCtrl" />
</div>