@mixin ceui-flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin ceui-flex-justify-center {
  display: flex;
  justify-content: center;
}

@mixin ceui-flex-align-center {
  display: flex;
  align-items: center;
}

@mixin ceui-text-ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
