/* You can add global styles to this file, and also import other style files */
.cdk-overlay-container,.cdk-global-overlay-wrapper{pointer-events:none;top:0;left:0;height:100%;width:100%}
.cdk-overlay-container{position:fixed;z-index:1000}
.cdk-overlay-container:empty{display:none}
.cdk-global-overlay-wrapper{display:flex;position:absolute;z-index:1000}
.cdk-overlay-pane{position:absolute;pointer-events:auto;box-sizing:border-box;z-index:1000;display:flex;max-width:100%;max-height:100%}
.cdk-overlay-backdrop{position:absolute;top:0;bottom:0;left:0;right:0;z-index:1000;pointer-events:auto;-webkit-tap-highlight-color:transparent;transition:opacity 400ms cubic-bezier(0.25, 0.8, 0.25, 1);opacity:0}
.cdk-overlay-backdrop.cdk-overlay-backdrop-showing{opacity:1}
.cdk-high-contrast-active .cdk-overlay-backdrop.cdk-overlay-backdrop-showing{opacity:.6}
.cdk-overlay-dark-backdrop{background:rgba(0,0,0,.32)}
.cdk-overlay-transparent-backdrop,.cdk-overlay-transparent-backdrop.cdk-overlay-backdrop-showing{opacity:0}
.cdk-overlay-connected-position-bounding-box{position:absolute;z-index:1000;display:flex;flex-direction:column;min-width:1px;min-height:1px}
.cdk-global-scrollblock{position:fixed;width:100%;overflow-y:scroll}
/*!
  Theme: GitHub
  Description: Light theme as seen on github.com
  Author: github.com
  Maintainer: @Hirse
  Updated: 2021-05-15

  Outdated base version: https://github.com/primer/github-syntax-light
  Current colors taken from GitHub's CSS
*/
.hljs {
  color: #24292e;
  background: #ffffff;
}
.hljs-doctag,
.hljs-keyword,
.hljs-meta .hljs-keyword,
.hljs-template-tag,
.hljs-template-variable,
.hljs-type,
.hljs-variable.language_ {
  /* prettylights-syntax-keyword */
  color: #d73a49;
}
.hljs-title,
.hljs-title.class_,
.hljs-title.class_.inherited__,
.hljs-title.function_ {
  /* prettylights-syntax-entity */
  color: #6f42c1;
}
.hljs-attr,
.hljs-attribute,
.hljs-literal,
.hljs-meta,
.hljs-number,
.hljs-operator,
.hljs-variable,
.hljs-selector-attr,
.hljs-selector-class,
.hljs-selector-id {
  /* prettylights-syntax-constant */
  color: #005cc5;
}
.hljs-regexp,
.hljs-string,
.hljs-meta .hljs-string {
  /* prettylights-syntax-string */
  color: #032f62;
}
.hljs-built_in,
.hljs-symbol {
  /* prettylights-syntax-variable */
  color: #e36209;
}
.hljs-comment,
.hljs-code,
.hljs-formula {
  /* prettylights-syntax-comment */
  color: #6a737d;
}
.hljs-name,
.hljs-quote,
.hljs-selector-tag,
.hljs-selector-pseudo {
  /* prettylights-syntax-entity-tag */
  color: #22863a;
}
.hljs-subst {
  /* prettylights-syntax-storage-modifier-import */
  color: #24292e;
}
.hljs-section {
  /* prettylights-syntax-markup-heading */
  color: #005cc5;
  font-weight: bold;
}
.hljs-bullet {
  /* prettylights-syntax-markup-list */
  color: #735c0f;
}
.hljs-emphasis {
  /* prettylights-syntax-markup-italic */
  color: #24292e;
  font-style: italic;
}
.hljs-strong {
  /* prettylights-syntax-markup-bold */
  color: #24292e;
  font-weight: bold;
}
.hljs-addition {
  /* prettylights-syntax-markup-inserted */
  color: #22863a;
  background-color: #f0fff4;
}
.hljs-deletion {
  /* prettylights-syntax-markup-deleted */
  color: #b31d28;
  background-color: #ffeef0;
}
.hljs-char.escape_,
.hljs-link,
.hljs-params,
.hljs-property,
.hljs-punctuation,
.hljs-tag {
  /* purposely ignored */
}
@font-face {
  font-family: "ceui-font"; /* Project id 2419331 */
  src: url('iconfont.woff2?t=1624266416550') format('woff2'),
       url('iconfont.woff?t=1624266416550') format('woff'),
       url('iconfont.ttf?t=1624266416550') format('truetype');
}
.ceui-font {
  font-family: "ceui-font" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.ceui-icon-arrow-left:before {
  content: "\e685";
}
.ceui-icon-arrow-up:before {
  content: "\e686";
}
.ceui-icon-arrow-down:before {
  content: "\e687";
}
.ceui-icon-arrow-right:before {
  content: "\e688";
}
.ceui-icon-close:before {
  content: "\e615";
}
.ceui-icon-warning:before {
  content: "\e8bd";
}
.ceui-icon-primary:before {
  content: "\e63d";
}
.ceui-icon-error:before {
  content: "\e658";
}
.ceui-icon-success:before {
  content: "\e618";
}
small {
  font-size: var(--ceui-font-size-xs, 12px);
}
input.ceui-input,
textarea.ceui-input {
  outline: none;
  font-size: var(--ceui-font-size-sm, 14px);
}
textarea.ceui-input {
  padding: 5px 10px;
}
textarea.ceui-input[resize=none] {
  resize: none;
}
textarea.ceui-input[resize=both] {
  resize: both;
}
textarea.ceui-input[resize=horizontal] {
  resize: horizontal;
}
textarea.ceui-input[resize=vertical] {
  resize: vertical;
}
.ceui-input {
  padding: 0 10px;
  box-sizing: border-box;
  border: 1px solid #ced4da;
  border-radius: 3px;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
  width: 100%;
  height: 100%;
  margin: 2px;
}
.ceui-input:hover:not(:disabled, .ng-invalid, :read-only, ._invalid) {
  border-color: var(--ceui-primary, #3f51b5);
}
.ceui-input:focus:not(:disabled):not(:read-only) {
  border-color: rgba(0, 0, 0, 0);
  box-shadow: 0 0 0 2px var(--ceui-primary, #3f51b5);
}
._invalid .ceui-input,
._invalid .ceui-input:hover,
._invalid .ceui-input:focus {
  border: 1px solid rgba(0, 0, 0, 0);
  box-shadow: 0 0 0 1px var(--ceui-danger, #f44336) !important;
}
.ceui-input.ng-invalid:not(.ng-untouched),
.ceui-input.ng-invalid:focus:not(.ng-untouched),
.ceui-input.ng-invalid:hover:not(.ng-untouched) {
  border: 1px solid rgba(0, 0, 0, 0);
  box-shadow: 0 0 0 2px var(--ceui-danger, #f44336);
}
.ceui-input:disabled,
.ceui-input:read-only {
  color: var(--ceui-disabled-color, rgba(0, 0, 0, 0.38));
  cursor: not-allowed;
  background: var(--ceui-disabled-bg, #fafafa);
}
.ceui-form-field {
  display: inline-block;
}
._prefix .ceui-form-field-content-infix .ceui-input {
  padding-left: 50px;
}
._suffix .ceui-form-field-content-infix .ceui-input {
  padding-right: 50px;
}
.ceui-input-lg,
[ceui-input-lg],
[ceui-input-lg] input {
  height: 54px;
}
.ceui-input-md,
[ceui-input-md],
[ceui-input-md] input {
  height: 44px;
}
.ceui-input-sm,
[ceui-input-sm],
[ceui-input-sm] input {
  height: 32px;
}
.ceui-input-xs,
[ceui-input-xs],
[ceui-input-xs] input {
  height: 28px;
}
.ceui-error {
  color: var(--ceui-danger, #f44336);
}
.ceui-hint {
  color: rgba(0, 0, 0, 0.6);
}
body,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
p,
blockquote,
dl,
dt,
dd,
ul,
ol,
li,
pre,
form,
fieldset,
legend,
button,
input,
textarea,
th,
td,
a {
  margin: 0;
  padding: 0;
}
ul,
ol {
  list-style: none;
}
a {
  text-decoration: none;
  color: #000;
}
sup {
  vertical-align: text-top;
}
sub {
  vertical-align: text-bottom;
}
legend {
  color: #000;
}
fieldset,
img {
  border: 0;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
.ceui-button-base {
  -webkit-user-select: none;
          user-select: none;
  cursor: pointer;
  outline: none;
  border: none;
  white-space: nowrap;
  text-decoration: none;
  min-width: 64px;
  height: 36px;
  padding: 0 16px;
  overflow: visible;
  border-radius: 4px;
  font-family: Roboto, Helvetica Neue, sans-serif;
  font-size: var(--ceui-font-size-sm, 14px);
  background-color: transparent;
}
.ceui-button-base[disabled],
.ceui-button-base.disabled {
  cursor: not-allowed;
}
.ceui-button.ceui-primary {
  color: var(--ceui-primary, #3f51b5);
}
.ceui-button.ceui-error {
  color: var(--ceui-danger, #f44336);
}
.ceui-button.ceui-warning {
  color: var(--ceui-warning, #fac20a);
}
.ceui-button.ceui-success {
  color: var(--ceui-success, #50d4ab);
}
.ceui-button[disabled],
.ceui-button.disabled {
  color: var(--ceui-disabled-color, rgba(0, 0, 0, 0.38));
}
.ceui-full-button {
  border: solid 1px currentColor;
  border-color: rgba(0, 0, 0, 0.12);
}
.ceui-full-button:hover:not([disabled], .disabled) {
  box-shadow: var(--ceui-box-shadow, 0 3px 5px -1px rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12));
}
.ceui-full-button.ceui-primary,
.ceui-full-button.ceui-error,
.ceui-full-button.ceui-warning,
.ceui-full-button.ceui-success {
  color: #fff;
}
.ceui-full-button.ceui-primary {
  background-color: var(--ceui-primary, #3f51b5);
}
.ceui-full-button.ceui-error {
  background-color: var(--ceui-danger, #f44336);
}
.ceui-full-button.ceui-warning {
  background-color: var(--ceui-warning, #fac20a);
}
.ceui-full-button.ceui-success {
  background-color: var(--ceui-success, #50d4ab);
}
.ceui-full-button[disabled],
.ceui-full-button.disabled {
  background-color: var(--ceui-disabled-bg, #fafafa);
  color: var(--ceui-disabled-color, rgba(0, 0, 0, 0.38));
}
.code {
  white-space: pre;
}

/*# sourceMappingURL=styles.css.map*/