<div class="button-row">
  <button ceui-button>basic</button>
  <button ceui-button color="primary">primary</button>
  <button ceui-button color="warning">warning</button>
  <button ceui-button color="error">error</button>
  <button ceui-button color="success">success</button>
  <button ceui-button color="success" disabled>disabled</button>
</div>

<div class="button-row">
  <button ceui-full-button>basic</button>
  <button ceui-full-button color="primary">主要</button>
  <button ceui-full-button color="warning">警告</button>
  <button ceui-full-button color="error">错误</button>
  <button ceui-full-button color="success">成功</button>
  <button ceui-full-button color="success" [disabled]="true">禁用</button>
</div>