@import '../../styles/theme';

$ceui-tab-label-padding: 10px 20px;             // tab label 内间距
$ceui-tab-labels-border: 2px solid #e3e3e3;   // tabs 边距
$ceui-label-link-bar-height: 2px;               // tab link bar height
$ceui-tab-labels-font-weight: 500;              //  tab labels font-weight

// tab 对齐方式结构样式
@mixin tab-item-wrapper($child) {
  [ceui-align-tabs='center'] {
    #{$child} {
      justify-content: center;
    }
  }

  [ceui-align-tabs='end'] {
    #{$child} {
      justify-content: flex-end;
    }
  }
}

.ceui-tab-group {
  position: relative;

  .ceui-tab-labels {
    @include ceui-flex-align-center;
    color: $ceui-text-color;
    border-bottom: $ceui-tab-labels-border;
    font-size: $ceui-font-size-h3;
    font-weight: $ceui-tab-labels-font-weight;
    flex-direction: row;
    cursor: pointer;

    .ceui-tab-label {
      padding: $ceui-tab-label-padding;
    }

    .ceui-tab-label-active {
      color: $ceui-primary;
    }

    .ceui-tab-label-disabled {
      color: $ceui-disabled-bg;
      cursor: not-allowed;
    }
  }

  .ceui-label-link-bar {
    height: $ceui-label-link-bar-height;
    background-color: $ceui-primary;
    position: absolute;
  }
}

@include tab-item-wrapper('.ceui-tab-labels');
