.img-wrapper {
  height: 217px;
  display: flex;

  .img-list-wrapper {
    overflow: auto;
    width: 217px;
    display: flex;
    flex-wrap: wrap;
  }

  img {
    display: inline-block;
    width: 100px;
    height: 100px;
  }

  .ceui-image {
    width: 100px;
    height: 100px;
  }
}
