@import "../../styles/theme";

$ceui-toast-color: #fff;

.ceui-toast {
  box-shadow: $ceui-box-shadow;
  border-radius: $ceui-border-radius;
  font-size: $ceui-font-size;
  color: $ceui-toast-color;
  display: inline-block;
  padding: 15px;
  margin: 10px;
  min-width: 300px;
}

.ceui-toast-wrapper {
  display: flex;
  justify-content: flex-start;
}

.ceui-toast-message {
  flex: 1 1 auto;
}

.ceui-toast-close {
  cursor: pointer;
}

.ceui-toast-primary {
  background-color: $ceui-primary;
}

.ceui-toast-success {
  background-color: $ceui-success;
}

.ceui-toast-warning {
  background-color: $ceui-warning;
}

.ceui-toast-error {
  background-color: $ceui-error;
}
