
@import '../../projects/core/styles/theme';

.wrapper {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

header {
  h1 {
    padding: 10px;
    box-shadow: $ceui-box-shadow;
    color: #252b3a;
  }
}

.content {
  display: flex;
  flex: 1;
  overflow: hidden;

  aside {
    color: $ceui-text-gray-color;
    h4 {
      padding: 10px;
    }
    border-right: 1px solid #eee;
    overflow: auto;
    max-height: 100%;
  }

  main {
    padding: 10px;
    flex: 1;
    margin: 0 100px ;
  }
}

.demo-container {
  position: relative;
  padding-bottom: 30px;
  margin-top: 20px;
}

.demo-content {
  margin-right: 200px;
}

.demo-example {
  margin-bottom: 20px;
}

.demo-title {
  font-size: 15px;
  color: $ceui-text-color;
  line-height: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.demo-text {
  font-size: 14px;
  color: $ceui-text-color;
  line-height: 24px;
}