$ceui-font-size: var(--ceui-font-size, 14px);        // 正文

$ceui-font-size-lg: var(--ceui-font-size-lg, 16px);         // 大号字体
$ceui-font-size-md: var(--ceui-font-size-md, 15px);         // 中等字体
$ceui-font-size-sm: var(--ceui-font-size-sm, 14px);         // 小号字体
$ceui-font-size-xs: var(--ceui-font-size-xs, 12px);         // 超小号字体

$ceui-font-size-h1: var(--ceui-font-size-h1, 20px);         // 一级标题
$ceui-font-size-h2: var(--ceui-font-size-h2, 18px);         // 二级标题
$ceui-font-size-h3: var(--ceui-font-size-h3, 16px);         // 三级标题
$ceui-font-size-h4: var(--ceui-font-size-h4, 14px);         // 四级标题
$ceui-font-size-h5: var(--ceui-font-size-h5, 12px);         // 五级标题
