$ceui-input-border-radius: 3px; // input 圆角
$ceui-input-border: 1px solid #ced4da; // input 边框
$ceui-input-padding: 0 10px; // input 内边距

small {
  font-size: $ceui-font-size-xs;
}

input.ceui-input,
textarea.ceui-input {
  outline: none;
  font-size: $ceui-font-size-sm;
}

textarea.ceui-input {
  padding: 5px 10px;
}

textarea.ceui-input[resize="none"] {
  resize: none;
}
textarea.ceui-input[resize="both"] {
  resize: both;
}
textarea.ceui-input[resize="horizontal"] {
  resize: horizontal;
}
textarea.ceui-input[resize="vertical"] {
  resize: vertical;
}

.ceui-input {
  padding: $ceui-input-padding;
  box-sizing: border-box;
  border: $ceui-input-border;
  border-radius: $ceui-input-border-radius;
  box-shadow: 0 2px 3px rgb(0 0 0 / 10%);
  width: 100%;
  height: 100%;
}

.ceui-input:hover:not(:disabled):not(:read-only) {
  border-color: $ceui-primary;
}

.ceui-input:focus:not(:disabled):not(:read-only) {
  border-color: rgba(#000, 0);
  box-shadow: 0 0 0 2px $ceui-primary;
}

._invalid {
  .ceui-input,
  .ceui-input:hover,
  .ceui-input:focus {
    border: 1px solid rgba(#000, 0);
    box-shadow: 0 0 0 1px $ceui-error !important;
  }
}

.ceui-input.ng-invalid:not(.ng-untouched),
.ceui-input.ng-invalid:focus:not(.ng-untouched),
.ceui-input.ng-invalid:hover:not(.ng-untouched) {
  border: 1px solid rgba(#000, 0);
  box-shadow: 0 0 0 2px $ceui-error;
}

.ceui-input:disabled,
.ceui-input:read-only {
  color: $ceui-disabled-color;
  cursor: not-allowed;
  background: $ceui-disabled-bg;
}

.ceui-input-lg,
[ceui-input-lg] {
  @include ceui-input-lg();
}

.ceui-input-md,
[ceui-input-md] {
  @include ceui-input-md();
}

.ceui-input-sm,
[ceui-input-sm] {
  @include ceui-input-sm();
}

.ceui-input-xs,
[ceui-input-xs] {
  @include ceui-input-xs();
}

.ceui-error {
  color: $ceui-error;
}

.ceui-hint {
  color: rgba(0, 0, 0, 0.6);
}
