.ceui-radio-group {
  .ceui-radio + .ceui-radio {
    padding-left: 10px;
  }
}

.ceui-radio {
  display: inline-block;
}

.ceui-radio-label {
  user-select: none;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  vertical-align: bottom;
}

.ceui-radio-wrapper {
  position: relative;
  height: 20px;
  width: 20px;
  display: inline-block;

  .ceui-radio-outer-circle {
    position: absolute;
    border-style: solid;
    border-width: 2px;
    border-color: rgba(0, 0, 0, 0.54);
    height: 20px;
    width: 20px;
    border-radius: 50%;
    box-sizing: border-box;
    top: 0;
    left: 0;
    transition: border-color ease 280ms;
  }

  .ceui-radio-inner-circle {
    transform: scale(0.5);
    position: absolute;
    border-radius: 50%;
    height: 20px;
    width: 20px;
    top: 0;
    left: 0;
    transition: transform ease 280ms,background-color ease 280ms;
  }

  .ceui-radio-input {
    display: none;
  }
}

.ceui-radio-label-content {
  padding-left: 8px;
  display: inline-block;
  font-size: $ceui-font-size;
}

.ceui-radio-checked {
  .ceui-radio-outer-primary {
    border-color: $ceui-primary;
  }
  .ceui-radio-inner-primary {
    background-color: $ceui-primary;
  }
  .ceui-radio-outer-warning {
    border-color: $ceui-warning;
  }
  .ceui-radio-inner-warning {
    background-color: $ceui-warning;
  }
  .ceui-radio-outer-error {
    border-color: $ceui-error;
  }
  .ceui-radio-inner-error {
    background-color: $ceui-error;
  }
  .ceui-radio-outer-success {
    border-color: $ceui-success;
  }
  .ceui-radio-inner-success {
    background-color: $ceui-success;
  }
}

.ceui-radio-disabled {
  .ceui-radio-label {
    cursor: not-allowed;
  }
  .ceui-radio-outer-circle {
    border-color: $ceui-disabled-color;
  }
  .ceui-radio-label-content {
    color: $ceui-disabled-color;
  }
  &.ceui-radio-checked {
    .ceui-radio-inner-circle {
      background-color: $ceui-disabled-color;
    }
  }
}
