@import '../../styles/theme';

.ceui-form-field-wrapper {
  display: inline-block;
  box-sizing: border-box;
  padding: 0 5px;
  height: 100%;
  width: 100%;
}

.ceui-form-field-label-wrapper {
  font-size: 13px;
  padding: 0 2px;
  height: 22px;
  line-height: 22px;
  box-sizing: border-box;
}

.ceui-form-field-content-wrapper {
  display: flex;
  position: relative;
}

.ceui-from-field-content-prefix {
  position: absolute;
  left: 5px;
  height: 100%;
  @include ceui-flex-align-center;
}

.ceui-form-field-content-infix {
  flex: 1;
}

.ceui-form-field-content-suffix {
  position: absolute;
  right: 1px;
  height: 100%;
  @include ceui-flex-align-center;
}

.ceui-form-field-subscript-wrapper {
  font-size: $ceui-font-size-xs;
  padding: 0 2px;
  height: 20px;
  line-height: 20px;
  box-sizing: border-box;
  overflow: hidden;
}
