@import '../../styles/theme';

.ceui-form-field-wrapper {
  display: inline-block;
  box-sizing: border-box;
  padding: 0 5px;
  height: 100%;
  width: 100%;
}

.ceui-form-field-label-wrapper {
  font-size: 13px;
  padding: 0 2px;
  height: 22px;
  line-height: 22px;
  box-sizing: border-box;
}

.ceui-form-field-content-wrapper {
  display: flex;
  position: relative;
  height: 100%;
}

.ceui-form-field-content-suffix {
  position: absolute;
  right: 5px;
  height: 100%;
  @include ceui-flex-align-center;
}

.ceui-form-field-subscript-wrapper {
  font-size: 12px;
  padding: 0 2px;
  height: 20px;
  line-height: 20px;
  box-sizing: border-box;
  overflow: hidden;
}
