<div class="ceui-form-field-wrapper">
  <div class="ceui-form-field-label-wrapper">
    <ng-content select="ceui-label"></ng-content>
  </div>
  <div class="ceui-form-field-content-wrapper">
    <div class="ceui-from-field-content-prefix" *ngIf="prefixChildren.length">
      <ng-content select="[ceuiPrefix], [ceui-prefix]"></ng-content>
    </div>
    <div class="ceui-form-field-content-infix">
      <ng-content></ng-content>
    </div>
    <div class="ceui-form-field-content-suffix" *ngIf="suffixChildren.length">
      <ng-content select="[ceuiSuffix], [ceui-suffix]"></ng-content>
    </div>
  </div>
  <div class="ceui-form-field-subscript-wrapper">
    <ng-content select="ceui-hint"></ng-content>
    <ng-content *ngIf="invalid && touched" select="ceui-error"></ng-content>
  </div>
</div>
