<button (click)="open('primary')">primary</button>
<button (click)="open('error')">error</button>
<button (click)="open('warning')">warning</button>
<button (click)="open('success')">success</button>
<button (click)="openSticky()">sticky</button>
<button (click)="openDirection('top')">top</button>
<button (click)="openDirection('right')">right</button>
<button (click)="openDirection('bottom')">bottom</button>
<button (click)="openDirection('left')">left</button>
<button (click)="openDirection('topRight')">topRight</button>
<button (click)="openDirection('bottomRight')">bottomRight</button>
<button (click)="openDirection('topLeft')">topLeft</button>
<button (click)="openDirection('bottomLeft')">bottomLeft</button>
<button (click)="openDirection('center')">center</button>
